[submodule "z"]
	path = z
	url = git@github.com:xm-tech/z.git
[submodule "fzf-git.sh"]
	path = fzf-git.sh
	url = git@github.com:junegunn/fzf-git.sh.git
[submodule "z.lua"]
	path = z.lua
	url = git@github.com:skywind3000/z.lua.git
